@import '@/styles/variables.scss';

$font-path: '../assets/fonts/';

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url($font-path + '/ruda-v11-latin-ext_latin-regular.eot');
  src:
    local('Ruda Regular'), local('Ruda-Regular'),
    url($font-path + '/ruda-v11-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
    url($font-path + '/ruda-v11-latin-ext_latin-regular.woff2') format('woff2'),
    url($font-path + '/ruda-v11-latin-ext_latin-regular.woff') format('woff'),
    url($font-path + '/ruda-v11-latin-ext_latin-regular.ttf') format('truetype'),
    url($font-path + '/ruda-v11-latin-ext_latin-regular.svg#Ruda') format('svg');
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 900;
  src: url($font-path + '/ruda-v11-latin-ext_latin-900.eot');
  src:
    local('Ruda Black'), local('Ruda-Black'),
    url($font-path + '/ruda-v11-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'),
    url($font-path + '/ruda-v11-latin-ext_latin-900.woff2') format('woff2'),
    url($font-path + '/ruda-v11-latin-ext_latin-900.woff') format('woff'),
    url($font-path + '/ruda-v11-latin-ext_latin-900.ttf') format('truetype'),
    url($font-path + '/ruda-v11-latin-ext_latin-900.svg#Ruda') format('svg');
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: url($font-path + '/ruda-v11-latin-ext_latin-700.eot');
  src:
    local('Ruda Bold'), local('Ruda-Bold'),
    url($font-path + '/ruda-v11-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
    url($font-path + '/ruda-v11-latin-ext_latin-700.woff2') format('woff2'),
    url($font-path + '/ruda-v11-latin-ext_latin-700.woff') format('woff'),
    url($font-path + '/ruda-v11-latin-ext_latin-700.ttf') format('truetype'),
    url($font-path + '/ruda-v11-latin-ext_latin-700.svg#Ruda') format('svg');
}

$family-sans-serif: 'Ruda', sans-serif;
$family-primary: 'Ruda', sans-serif;
$body-size: 25px;
$primary: #D95560;
$link: #03738C;
$info: #04C4D9;
$navbar-breakpoint: $desktop;
$section-padding: 1.5rem 1.5rem;
$link: $theme-color-3;
$link-hover: $theme-color-4;
$link-visited: $theme-color-4;

::selection {
  color: $white; 
  background: $theme-color-2;
}

@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';
