$theme-color-1: #D95560;
$theme-color-2: #F2949C;
$theme-color-3: #03738C;
$theme-color-4: #04C4D9;
$theme-color-5: #0396A6;

$linkedin: #0077b5;
$xing: #126567;
$instagram: #c13584;
$github: #24292e;
$lastfm: #d51007;
$spotify: #1DB954;

@import '~bulma/sass/utilities/initial-variables';
